@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.toggle {
    visibility: hidden;
}

.checkboxes-span {
    display: flex;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
}

.icon-label {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
}

.toggle:checked+.icon-label {
    transition: all .1s ease;
    background-color: #f1f1f1;
}